.container1{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr 20fr 1fr;
    gap:10px;

}

.header{
    grid-column: span 2;
}

.footer{
    grid-column: span 2;
}



.nav{
    /* margin: 10px;
    padding: 5px; */
    border:1px solid black;
}

/* 

.item{
    background-color: lightblue;
    border: 1px solid black;
    padding: 20px;
    gap:10px;
}

.item1{
    background-color: yellow;
    grid-column: span 3;
    grid-row: span 2;
}

.container{
    border: 2px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:10px;
} */